@model List<HelpingHands.Models.ChangePassword>
@{
    ViewData["Title"] = "GetUsersForPassword";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            background: #ffffff;
            height: 100vh;
            overflow: hidden;
            font-family: Arial, sans-serif;
        }

        .center {
            text-align: center;
            margin: 2% 10%;
        }

            .center h2 {
                font-weight: bold;
            }

        .button-container {
            float: left;
            margin: 20px 0;
        }

        .content-table {
            background: #ffffff;
            border-collapse: collapse;
            font-size: 0.9em;
            width: 100%;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

            .content-table thead tr {
                background-color: lightblue;
                color: #ffffff;
                text-align: left;
                font-weight: bold;
            }

            .content-table th,
            .content-table td {
                padding: 12px 15px;
            }

            .content-table tbody tr {
                border-bottom: 1px solid #dddddd;
            }

                .content-table tbody tr:nth-of-type(even) {
                    background-color: #f3f3f3;
                }

                .content-table tbody tr:last-of-type {
                    border-bottom: 2px solid #009879;
                }

                .content-table tbody tr .active-row {
                    font-weight: bold;
                    color: #009879;
                }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="center">
        <h2> Select User To Change Password For</h2>
        <hr>
               


        <table class="content-table" id="myTable">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Contact Number</th>
                    <th>Password</th>
                    <th>User Type</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    @foreach (var employee in Model)
                    {
                        <tr>
                            <td>@employee.UserName</td>
                            <td>@employee.Email</td>
                            <td>@employee.ContactNumber</td>
                            <td>@employee.Password</td>
                            <td>@employee.UserTypeDescription</td>
                            <td>@employee.Status</td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <a asp-action="ChangeUserPassword" asp-controller="User" asp-route-id="@employee.UserId" class="btn btn-primary">Change Password</a>
                                    &nbsp
                                    
                                </div>
                            </td>
                        </tr>
                    }

                }
                else
                {
                    <tr>
                        <td colspan="2">
                            <div>No records available!</div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>