

@{
	Layout = "/Views/Shared/_LayoutNurse.cshtml";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="~/css/dashboardstyle.css">

	<title>Nurse</title>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
</head>
<body>
	<div class="container">
		<section id="content">

			<main>
				

				<ul class="box-info">
					<li title="View new contracts">
						<a asp-action="GetNurseContract" asp-controller="Contract">
							<i class='bx bxs-edit'></i>
							<span class="text">
								<h3>New Contracts</h3>

							</span>
						</a>
						
					</li>
					<li title="View upcoming care visits">
						<a asp-action="GetUpComingVisit" asp-controller="CareVisit">
							<i class='bx bxs-group'></i>
							<span class="text">
								<h3>Care Visits</h3>

							</span>
						</a>
						
					</li>
					<li title="Create suburbs to work on">
						<a asp-action="CreatePreferredSuburb" asp-controller="Suburb">
							<i class='bx bx-building-house'></i>
							<span class="text">
								<h3>Suburbs</h3>

							</span>
						</a>
						
					</li>
					
					
				</ul>
				

				<div class="table-data">
					<div class="order">
						<div class="head">
							<h3>Upcoming Visits</h3>
							<i class='bx bx-search'></i>
							<i class='bx bx-filter'></i>
						</div>
						<table>
							<thead>
								<tr>
									<th>Visit Date</th>
									<th>Approximate Arrival Time</th>
									<th>Suburb Name</th>
									<th>Address Line 1</th>
									
								</tr>
							</thead>
							<tbody>
								@foreach (var visit in ViewBag.Visits)
								{
									<tr>
										<td>@visit.VisitDate.ToString("dd/MM/yyyy")</td>
										<td>@visit.ApproxArrivalTime.ToString("hh':'mm")</td>
										<td>@visit.SuburbName</td>
										<td>@visit.AddressLine1</td>

									</tr>
								}

								
							</tbody>
						</table>
					</div>
					<div class="todo">
						<div class="head">
							<h3>Preferred Suburbs</h3>
							<i class='bx bx-plus'></i>
							<i class='bx bx-filter'></i>
						</div>
						<ul class="todo-list">
							@foreach (var suburb in ViewBag.SuburbList)
							{

								<li class="completed">
									<p>@suburb.SuburbName</p>
									<i class='bx bx-dots-vertical-rounded'></i>
								</li>
								
							}																		
							
							
						</ul>
					</div>
				</div>
			</main>
			
		</section>
		
	</div>
	<script src="~/js/Dashboardscript.js"></script>
</body>
</html>






