@model List<CareContract>
@{
    ViewData["Title"] = "GetAllContracts";
    Layout = "~/Views/Shared/_LayoutOfficeManager.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Contracts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/contractstylesheet.css" />
</head>
<body>
    <h2> All Contract(s)</h2>
    
    @if (Model != null && Model.Any())
    {
        @foreach (var contract in Model)
        {
            <div class="container invoice">
                <div class="invoice-header">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <h1>Patient Care Contract</h1>
                            <h4 class="text-muted">Contract Date:|  @contract.ContractDate.ToString("dd/MM/yyyy")</h4>
                        </div>
                    </div>
                </div>
                <div class="invoice-body">
                    <div class="row">

                        <div class="col-xs-6 col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Contract Details</h3>
                                </div>
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        <dt>Fullname</dt>
                                        <dd>@contract.Fullname</dd>
                                        <dt>Gender</dt>
                                        <dd>@contract.Gender</dd>
                                        <dt>Start Date</dt>
                                        <dd>@contract.StartDate?.ToString("dd/MM/yyyy")</dd>
                                        <dt>Address Line</dt>
                                        <dd>@contract.AddressLine1</dd>
                                        <dt>Suburb Name</dt>
                                        <dd>@contract.SuburbName</dd>
                                        <dt>Status</dt>
                                        <dd>@contract.Status</dd>
                                        <dt>&nbsp;</dt>
                                        <dd>&nbsp;</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Wound Description</h3>
                        </div>
                        <table class="table table-bordered table-condensed">
                            <!-- Table content... -->
                        </table>
                    </div>
                    <div class="panel panel-default">
                        <table class="table table-bordered table-condensed">
                            <!-- Table content... -->
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-7">
                            <div class="panel panel-default">
                                <div class="panel-body">

                                    <hr style="margin:3px 0 5px" /> @contract.WoundDescription
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="invoice-footer">
                    
                        @if (contract.Status == "New")
                        {
                            <div class="invoice-buttons">
                                <a asp-action="GetNurseByContractSuburb" asp-controller="OfficeManager" asp-route-id="@contract.SuburbId" class="btn btn-primary">View Nurses By Suburb</a>
                            </div>
                        }
                        else
                        {
                            <a class="btn btn-secondary" asp-controller="CareVisit" asp-action="GetCareVisitByContract" asp-route-id="@contract.ContractId">View Visits</a>
                            @if (contract.Status == "Assigned")
                            {
                                <form method="post" asp-controller="Contract" asp-route-id="@contract.ContractId" asp-action="CloseContract">
                                    <button class="btn btn-info" type="submit">Close Contract</button>
                                </form>
                            }
                            else
                            {
                                <button class="btn btn-danger" type="submit" disabled>Closed</button>
                            }
                        }
                    
                   

                </div>
            </div>
        }

    }
    else
    {
        <p>No contract records available</p>
    }



    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
